*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	 font-family: Arial, Helvetica, sans-serif;
	 background-color: #f6f6f6;
}
.navbar-brand{
	margin-left: 8%;
}
.navbar{
	background-color: #0080b7;
}
#navbarNavDropdown{
	margin-left: 8%;
}
.navbar-toggler:hover{
	background-color: black;
}
.menuDetail{
	margin-left: 8%;
	padding-top: 1%;
}
.detail-job{
	padding-top: 1%;
}
.flex-container {
  display: flex;
}

.flex-container > div {
  margin: 10px;
  padding: 20px;

}
.text-span{
	margin-left: 10%;
}
.flex-container-contact {
  display: flex;
}

.flex-container-contact > div {
  margin: 10px;
  padding: 20px;
}
#card-body{
	border-bottom: 2px solid #f6f6f6;
	line-height: 20px;
}
#span-time{
	margin-left: 40%;
}
.list-job {
	text-decoration: none;
}
#span-card-text{
	margin-left: 5%;
}
.footer{
	background-color: #0080b7;
	font-size: 16px;
}
.card-css{
	background-color: #0080b7;
	border: 1px solid #0080b7;
}
@media only screen and (min-width: 320px) and (max-width: 620px) {
.flex-container-contact > div {
  margin: 5px;
  padding: 5px;
}
.flex-container-contact .card-text{
		width: 150px;
	}
.flex-container > div{
	margin: 5px;
	padding: 5px;
	}
#span-time{
	margin-left: 35%;
	}
}
/* css user-post */
.card-style{
	margin-top: 5%;
}
#time-day{
	margin-left: 0;
}
#people-number{
	margin-left: 0;
}
.btn-submit{
	margin-left: 40%;
}
.card-style1{
	margin-top: 10%;
}
#span-time-user{
	margin-left: 5%;
}
#span-status-post{
	margin-left: 20%;
}
.feedback{
	margin-top: 3%;
}
.flex-container-feedback{
	display: flex;
}
.flex-container-feedback > div{
  	margin: 10px;
  	width: 50%;
}
.flex-feedback{
	border-bottom: 1px solid #E6E6E6;
}
#card-body-form{
	width: 80%;
	margin-left: 10%;
}
#footer{
	margin-top: 5%;
}
.rating-stars ul {
  list-style-type:none;
  padding:0;

  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;

}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:1.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}
#avatar-profile{
	width:200px;
	border-radius: 50%;
}
#form-profile{
	position: absolute;
	top: 25%;
	left: 35%;
}
#card-body-profile{
	padding: 5%;
}
#card-body-profile input{
	height: 45px;
}

